@model ReporteSemanalViewModel
@{
    ViewData["Title"] = "Reporte Semanal";

    string formatearFecha(DateTime fecha)
    {
        return fecha.ToString("MM.dd");
    }

    var resumenMontos = new ResumenMontosViewModel()
            {
                Ingresos = Model.Ingresos,
                Gastos = Model.Gastos,
                Total = Model.Total
            };
}

@*vistas parciales*@
<partial name="_SubMenu" model="SubMenuTransacciones.Semanal" />
<partial name="_NavegarPorMeses" model="@Model.FechaReferencia" />
<partial name="_ResumenMontos" model="@resumenMontos" />

<table class="table" style="font-size:20px">
    <thead>
        <tr>
            <td>Semana</td>
            <td style="text-align: right">Ingresos</td>
            <td style="text-align: right">Gastos</td>
        </tr>
    </thead>

    @foreach (var transaccionesPorSemana in Model.TransaccionesPorSemana)
    {
        <tr>
            @*la priemra celda*@
            <td>
                <a style="text-decoration: none" asp-action="Index"
                   asp-route-year="@Model.FechaReferencia.Year"
                   asp-route-mes="@Model.FechaReferencia.Month">@formatearFecha(transaccionesPorSemana.FechaInicio) - @formatearFecha(transaccionesPorSemana.FechaFin)</a>
            </td>
            @*la segunda celda*@
            <td class="activo" style="text-align: right">
                @transaccionesPorSemana.Ingresos
            </td>
            <td class="pasivo" style="text-align: right">
                @transaccionesPorSemana.Gastos
            </td>
        </tr>
    }
</table>