@*@model IEnumerable<ManejoPresupuesto.Models.Categoria>*@
@model PaginacionRespuesta<Categoria>
@{
    ViewData["Title"] = "Categorias";
}

<h1>Index</h1>
<h5>
    La categoria nos permite indicar en que gastamos nuestro dinero,
    tambien, de donde provienen nuestros ingresos.
</h5>
@*<h2>
    cantidad: @Model.CantidadTotalRecords - cantidad paginas: @Model.CantidadTotalDePaginas
</h2>*@
@*<p>
    <a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>
</p>*@
<a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>

<div class="row">
    <label>Cantidad de registros a mostrar:</label>
    <div class="mb-3 col-auto">
        <select asp-for="@Model.RecordsPorPagina" id="cantidadRecordsPorPagina" class="form-select">
            <option>5</option>
            <option>10</option>
            <option>15</option>
        </select>
    </div>
</div>

<partial name="_Paginacion" />

<table class="table">
    <thead>
        <tr>
            <th>
                Acciones
            </th>
            <th>
                Nombre
            </th>
            <th>
                Tipo
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in Model.Elementos)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@categoria.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@categoria.Id">Borrar</a>
                    @*@Html.DisplayFor(modelItem => item.Id)*@
                </td>
                <td>
                    @categoria.Nombre
                    @*@Html.DisplayFor(modelItem => item.Nombre)*@
                </td>
                <td>
                    @categoria.TipoOperacionId.ToString()
                    @*@Html.DisplayFor(modelItem => item.TipoOperacionId)*@
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.UsuarioId)*@
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        //verificamos si es que cambia el drowpdownlist, aplicandole la funcion change
        $("#cantidadRecordsPorPagina").change(function(){
            //obtenemso el valor d ela opcion
            const recordsPorPagina = $(this).val();
            location.href = `/Categorias/Index/?pagina=1&recordsPorPagina=${recordsPorPagina}`;
        })
    </script>
}