@model IEnumerable<TipoCuenta>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Crear" class="btn btn-primary mb-3">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>Acciones</th>
            <th>Nombre</th>
        </tr>
    </thead>
    @*le agregamos un id a la  tabla del body, para poder usar jqueryUi*@
    <tbody id="reordenable">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@item.Id">Borrar</a>
                    @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>*@
                <td>
                    @item.Nombre
                </td>
                
            </tr>
        }
    </tbody>
</table>

@*agregamos un script, para usar jqueryUi*@
@section Scripts {
    <script>
        //Aqui usaremos la libreria, de jquery
        $(function(){
            //seleccionamos el tbody, con su IDBCursor, para agregarle la reoganizacion de items
            $("#reordenable").sortable();
        })
    </script>
}